body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

#form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#input:focus { outline: none; }
#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages > li { padding: 0.5rem 1rem; }
#messages > li:nth-child(odd) { background: #efefef; }

.name {
    text-align: center;
}
h1 {
    text-align: center;
    font-family: 'Pacifico', Arial;
    text-transform: none;
    text-shadow: 1px 1px 0 #ccc, 2px 2px 0 #ccc, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #444, 6px 6px 0 #444, 5px 5px 15px #999;
    margin: 0%;
    padding: 20PX;
}
header{
    background-color: #053742;
    margin: 0%;
    color: aliceblue;
    
    
}
.ti{
    color: rgba(34,34,34,0.5);
    font-size: x-small;
}
.inpu{
    margin: 0%;

    
}
li {
    color: #053742;
    font-weight: bold;
    
    
}
.mes{
    line-height: 2;
    background-color: #A2DBFA;
    font-weight:lighter;
    border-radius: 20px;
    padding: 5px 30px 5px 30px;
}

table{
    border: #053742;
}
.con{
    display: flex;
    align-items: center;
}
.user_name{
    margin-right: 5px;
}
div{
    display: inline;
}
.mess_div{
    display: flex;
    align-items: center;

}

.z{
    margin-left: 5px;
    margin-right: 5px;

}
